@import "_vars";
@import "_global";
@import "_fonts";

.header {
  position: relative;
}

.header__top {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.header__logo {
}

.header__text {
  margin-left: auto;
  margin-right: 25px;

  span {
    color: $red;
  }
}

.header__btn {
  width: 72px;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  line-height: 2em;
  padding: 4px 12px;
}

.header__btn-login {
  background-color: $green;
  margin-right: 7px;
  margin-left: 20px;
}

.basket__box.header__btn-login--on {
  margin-right: 15px !important;
}
.header__btn-logout,
.header__btn-register {
  background-color: $red;
}

.header__btn-register--off {
  display: none;
}

.header__btn-login--off {
  display: none;
}

.header__btn-logout {
  display: none;

  &.header__btn-login--on {
    display: block;
  }
}

.header__menu {
  background-color: #263238;
  min-height: 60px;
  padding-top: 20px;
  transition: 0.5s;
}

.header__menu-btn {
  width: 30px;
  cursor: pointer;
  display: none;

  div {
    height: 3px;
    background-color: #000;

    & + div {
      margin-top: 5px;
    }
  }
}

.header__menu-list {
  transition: 0.5s;

  & li + li {
    margin-left: 35px;
  }
}

.user__icon-menu {
  display: none;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-link {
  color: #fff;
  font-size: 14px;
  @include f500;
}

.header__btns {
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.header__circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;

  i {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #a0a0a0;
    line-height: 34px;

    &:hover {
      color: #263238;
    }
  }

  span {
    width: 18px;
    height: 18px;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -7px;
    right: -6px;
  }
}

.basket {
  margin-right: 20px;
  margin-left: 13px;

  span {
    background-color: $green;
  }
}

.message {
  span {
    background-color: $tomate;
  }
}

.notification {
  span {
    background-color: $yellow;
  }
}

.user {
  position: relative;
  padding-right: 10px;

  &::after {
    content: "\f107";
    font-family: "icomoon";
    color: #707070;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-right: 25px;
    min-height: 90px;
    margin-left: 8px;
  }

  &__photo {
    width: 34px;
    height: 34px;
    margin-right: 13px;
  }

  &__name {
    @include f500;
    color: #222222;
    font-size: 14px;
    margin-bottom: 3px;
    position: relative;
    padding-right: 20px;
  }

  &__money {
    font-size: 14px;
    color: $green;
    @include f700;
  }
}

.user-box {
  position: relative;
  z-index: 1;
}

.header__btns {
  position: relative;
}

.first {
  min-height: 530px;
  padding: 140px 0 100px;
}
#login {
  background-color: $green;
  color: #fff;
  max-width: 730px;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 100px;
}
.login__title {
  @include f700;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.login__wrapper {
  text-align: left !important;
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  .login__label {
    position: relative;
    display: block;
    width: 100%;
    &::before {
      font-family: "icomoon";
      position: absolute;
      color: #fff;
      font-size: 14px;
      left: 18px;
      top: 13px;
    }
  }
  .login__label-name::before {
    content: "\f007";
  }
  .login__label-pass::before {
    content: "\f023";
  }
  input {
    display: block;
    height: 43px;
    margin-bottom: 8px;
    width: 100%;
    border: none;
    background-color: #76ae36;
    color: #fff;
    font-size: 14px;
    padding-left: 40px;

    &::placeholder {
      color: #fff;
      font-size: 14px;
    }
  }
  button {
    margin-top: 19px;
    text-transform: uppercase;
    margin-right: 10px;
    @include f700;
    color: #000;
    text-align: center;
    padding: 18px 0 16px;

    border: none;
    text-align: center;
    width: 140px;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
  }
}
.login__link {
  color: #fff;
  background-color: #76ae36;
  font-size: 18px;
  width: 245px;
  text-align: center;
  padding: 15px 0 15px 28px;
  position: relative;
  &::before {
    content: "\f044";
    position: absolute;
    top: 15px;
    left: 35px;
    font-family: "icomoon";
  }
}
.fancybox-button svg path {
  color: #fff;
  stroke-width: 3px;
}
.lost-pass {
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.search__inner {
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    @include f700;
    line-height: 1.5em;
    margin-bottom: 20px;
  }

  &-intro {
    font-size: 20px;
    line-height: 30px;
    @include f500;
    margin-bottom: 50px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
  }

  &-input {
    display: inline-block;
    width: 100%;
    border: none;
    height: 56px;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 60px;
    font-size: 14px;
    @include f500;
    outline: none;

    &:focus {
      outline: 1px solid blue;
    }

    &::placeholder {
      color: #90a4ae;
      font-family: "Roboto", sans-serif;
    }
  }

  &-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 16px;
  }
}

.products__inner-btns {
  text-align: center;

  button {
  }
}

.user__box {
  position: relative;
  transition: all 0.5s ease;
}

.user__icon-menu {
  width: 70px;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}

.user__menu {
  padding: 0 20px;
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #fff;
  border: solid #d5d5d5;
  width: 158px;
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-width: 0;

  li {
    margin-bottom: 23px;

    a {
      font-size: 12px;
    }
  }
}

.user-box:hover {
  .user__menu {
    height: auto;
    opacity: 1;
    overflow: visible;
    padding: 20px;
    border-width: 1px;
  }
}

.circle__box {
  position: relative;
  height: 90px;
  transition: 0.5s;

  &:hover {
    .circle__menu {
      height: auto;
      overflow: visible;
      opacity: 1;
      border-width: 1px;
    }
  }

  .header__circle {
    margin: 0 9px;
    margin-top: 29px;
  }
}

.circle__menu {
  background-color: #ffffff;
  width: 265px;
  position: absolute;
  right: 5px;
  top: 90px;
  border: 1px solid #d3d3d3;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  border-width: 0;

  .circle__item {
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;

    .circle__item-inner {
      display: flex;
      justify-content: flex-start;

      a.circle__item-img {
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        width: 72px;
        height: 56px;
        margin-right: 13px;
      }

      .circle__item-info {
        .circle__item-title {
          a {
            @include f500;
            color: $bg;
          }
        }

        .circle__item-category {
          a {
            color: $green;
            font-size: 12px;
          }
        }

        .circle__item-price {
          font-size: 16px;
          @include f700;
          color: #000;
          margin-top: 6px;
        }
      }
    }
  }

  .basket__total {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 37px;
    color: #000;
    @include f700;
    font-size: 16px;
  }

  .basket__btns {
    padding: 0 12px;
    margin-bottom: 10px;

    .basket__btn {
      @include f700;
      color: #fff;
      font-size: 14px;
      text-align: center;
      padding: 10px 5px;
    }

    .basket__btn-1 {
      background-color: $green;
      margin-right: 5px;
      width: 105px;
    }

    .basket__btn-2 {
      background-color: #e85647;
      width: 123px;
    }
  }
}

.message__item {
  .circle__item-title {
  }

  .circle__item-category {
  }
}

.circle__item.message__item {
  .circle__item-inner {
    a.circle__item-img.message__img {
    }

    .circle__item-info {
      .circle__item-title.message__item-title {
        a {
          font-size: 12px;
          color: #000;
          @include f700;
        }
      }

      .circle__item-category {
        a {
          font-size: 11px;
        }
      }

      .circle__item-date {
        font-size: 10px;
        color: #707070;
        margin-top: 5px;
      }
    }

    .message__icon {
      a {
        font-size: 16px;
        color: #b0bec5;
      }

      &:hover {
        a {
          color: #ef6c00;
        }
      }
    }
  }
}

a.message__img {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.message__icon {
  margin-left: auto;
}

.notification__box {
  .notification__item {
    .circle__item-title {
      margin-bottom: 8px;

      a {
        font-size: 12px;
        color: $green !important;
      }
    }

    .circle__item-date {
      font-size: 10px;
    }
  }

  .message__icon {
    &:hover {
      a {
        color: #ef6c00;
      }
    }

    a {
    }
  }
}

section.products {
  background-color: #f4f6f5;
  padding: 110px 0;
  .mixitup-control-active {
    background: $red !important;
    color: #fff;
  }
  h2.products__title {
  }

  .products__inner-btns {
    margin-bottom: 55px;

    button {
      @include f500;
      font-size: 14px;
      border: none;
      cursor: pointer;
      background-color: #ffffff;
      padding: 10px 20px;
    }

    button + button {
      margin-left: 6px;
    }
  }

  .products__inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__bottom-btns {
    padding-top: 50px;
    text-align: center;

    button {
      font-size: 16px;
      color: $bg;
      background-color: #ffffff;
      border: none;
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      padding: 17px 28px;
      cursor: pointer;
      margin: 0 5px;
    }

    button {
    }
  }
}

.product__item {
  max-width: 440px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  transition: all 0.4s;

  a.product__img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .products__item-content {
    border-bottom: 1px solid $grey;
    min-height: 90px;

    .price {
      font-size: 20px;
      @include f700;
      color: $bg;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 15px 25px;
    background-color: #ffffff;

    a.products__item-title {
      display: block;
      margin-bottom: 7px;
      @include f700;
      font-size: 18px;
      color: $bg;
      max-width: 310px;
    }

    a.products__item-category {
      display: block;
      font-size: 14px;
      color: $green;
      @include f500;
    }
  }

  .product__item-info {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;

    .product__item-author {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: inline-block;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
      }

      a + a {
        font-size: 14px;
        @include f500;
      }
    }

    .product__item-rate {
      font-size: 12px;
      color: #b0bec5;

      span {
        color: $bg;
      }
    }
  }
}

.rateyo {
  display: inline-block;
}

/*products slider*/
.products-slider {
  padding: 114px 0;

  .slick-dots {
    text-align: center;
    padding-top: 30px;

    li {
      margin: 0 3px;
      display: inline-block;

      &.slick-active button {
        background-color: #8bc34a;
      }

      button {
        font-size: 0;
        background-color: #e8e8e8;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.products-slider__title {
  color: $bg;
}

.advantages {
  background-color: $bg;
  padding: 110px 0;

  &__title {
    color: #fff;
  }
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__item {
  max-width: 370px;
  padding: 0 20px;
  text-align: center;

  &:hover {
    .advantages__item-img {
      background-color: $green;

      i {
        color: #fff;
      }
    }

    .advantages__item-title {
      color: $green;
    }
  }

  &-img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    padding-top: 20px;
    margin-bottom: 25px;
    transition: all 0.5s;

    i {
      font-size: 70px;
      color: #000;
    }
  }

  .advantages__item-title {
    font-size: 24px;
    @include f500;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.5s;
  }

  .advantages__item-text {
    color: #b0bec5;
  }
}

section.author {
  min-height: 750px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .author__inner {
    min-height: 710px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .author__inner-box {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 650px;
      width: 100%;
      min-height: 220px;
      background-color: $green;

      .author__inner-title {
        max-width: 260px;
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;

        span {
          @include f700;
        }
      }

      a.author__inner-btn {
        color: $bg;
        font-size: 18px;
        line-height: 36px;
        max-width: 225px;
        min-height: 63px;
        padding: 13px 40px;
        background-color: #ffffff;
      }
    }
  }
}

section.tutorial {
  padding: 60px 0 120px;

  h2.tutorial__title {
  }

  .tutorial__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tutorial__item {
      max-width: 370px;
      width: 100%;

      .tutorial__item-img {
        min-height: 270px;
        width: 100%;
      }

      .tutorial__item-title {
        font-size: 24px;
        @include f700;
        color: $bg;
        text-align: center;
        min-height: 100px;
        background-color: #f8f8f8;
        line-height: 60px;
        padding: 20px 0;
        margin-top: -2px;
      }
    }
  }
}

.footer {
  background-color: $bg;
}

.footer__content {
  padding-top: 105px;
  padding-bottom: 95px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  border-top: 1px solid #424d53;
  padding: 25px 0;

  p {
    font-size: 15px;
    text-align: center;
    color: #919699;
  }
}

.footer__col-4,
.footer__col-1 {
  max-width: 270px;
  width: 100%;
}

.footer__col-4 {
  padding-left: 10px;
}

.footer__col-2,
.footer__col-3 {
  max-width: 220px;
  width: 100%;
}

.footer__col-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 51px;
    height: 3px;
    left: 2px;
    bottom: 0;
    background-color: $green;
  }
}

.footer__col-text {
  color: #b7c3c8;
  margin-bottom: 30px;
  line-height: 24px;
}

.footer__col-data {
  padding-left: 25px;
  color: #fff;
  position: relative;

  a {
    color: #fff;
  }
}

.footer__col-address {
  margin-bottom: 20px;

  &::before {
    content: "\f041";
    font-family: "icomoon";
    font-size: 18px;
    position: absolute;
    left: 0;
    color: $green;
  }
}

.footer__col-phone {
  &::before {
    content: "\f095";
    font-family: "icomoon";
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: $green;
  }
}

.footer__col-menu {
  li {
    margin-bottom: 20px;

    a {
      color: #b7c3c8;
      padding-left: 22px;
      position: relative;
      &::before {
        content: "\f105";
        font-family: "icomoon";
        font-size: 18px;
        position: absolute;
        left: 0;
        top: -2px;
        color: $green;
      }
    }
  }
}

.footer__col-social {
  margin-bottom: 25px;

  a {
    background-image: url(../images/css_sprites.png);
    height: 28px;
    width: 28px;

    & + a {
      margin-left: 6px;
    }
    &::before {
      display: none;
    }
  }

  .icon-twitter {
    background-position: -28px -0;
  }

  .icon-youtube {
    background-position: -0 -28px;
  }

  .icon-pinterest {
    background-position: -28px -28px;
  }

  .icon-linkedin {
    background-position: -56px -0;
  }
}

.footer__form-title {
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer__form {
  position: relative;

  input {
    width: 100%;
    background-color: #2f3c43;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    padding-left: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 60px;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 43px;
    background-color: $green;
    color: #fff;
    border: none;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }
}
.search {
  padding: 50px 0;
  min-height: 230px;
}
.breadcrumbs {
  padding-top: 45px;
  border-top: 1px solid #b5b5b5;
}
.breadcrumbs__list-item {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 9px;
    display: block;
    width: 5px;
    height: 1px;
    background-color: $green;
  }
  &:last-child::after {
    display: none;
  }
  a {
    font-size: 15px;
    color: #b0bec5;
  }
  span {
    font-size: 15px;
  }
}
.catalog,
.breadcrumbs {
  background-color: #f4f6f5;
}
.catalog__aside {
  max-width: 270px;
  width: 100%;
}
.catalog__categories {
  padding: 25px;
  background-color: #fff;
  border: 1px solid #dedede;
}
.catalog__categories-item {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  & + .catalog__categories-item {
    margin-top: 20px;
  }

  button {
    display: inline-block;
  }
  span {
    display: inline-block;
    color: $grey;
  }
  &::before {
    content: "\f105";
    font-family: "icomoon";
    position: absolute;
    left: 0;
    color: $green;
    font-size: 14px;
  }
}
.catalog__categories-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  span {
    display: inline-block;
  }
  .category {
    color: $bg;
  }
}
.catalog__categories-title {
  font-weight: 700;
  font-size: 20px;
  color: $bg;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.catalog__categories {
  margin-bottom: 30px;
}

.catalog {
  padding-top: 40px;
  padding-bottom: 110px;
  .irs-bar {
    background-color: #37474f;
    height: 5px;
  }
  .irs-line {
    height: 5px;
  }

  .irs-handle .to .type_last {
  }
  .irs-handle {
    background: #fff;
    outline: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid $green;
    top: 19px;
  }
  .irs--flat .irs-handle > i:first-child {
    background-color: #fff;
  }
  .irs-max {
    display: none;
  }
  .irs-min {
    display: none;
  }
  .irs-from,
  .irs-single,
  .irs-to {
    top: 40px;
    background-color: transparent;
    color: #78909c;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    &::before {
      display: none;
    }
  }
}
.categories__range-slider {
  margin-bottom: 50px;
}
.catalog__range {
  margin-bottom: 30px;
}
.catalog__range,
.top-sellers {
  background-color: #fff;
  padding: 25px;
  border: 1px solid #dedede;
}
.catalog__range-btn {
  background-color: $green;
  width: 100%;
  border: none;
  color: #fff;
  padding: 15px;
  font-weight: 500;
  &::before {
    content: "\f002";
    font-family: "icomoon";
    color: #fff;
    padding-right: 5px;
  }
}

.top-sellers {
  .product__item {
    &:last-child {
      border-bottom: none;
    }
    box-shadow: none;
    border-bottom: 1px solid #dde3e8;
    .products__item-content {
      border: none;
      padding: 0;
      a.products__item-title {
        font-size: 16px;
        max-width: 160px;
      }
      .price {
        font-size: 16px;
      }
    }
    .product__item-info {
      padding: 15px 0;
    }
    a.product__img {
      min-height: 120px;
    }
  }
  .product__item .product__item-info .product__item-author a + a {
    max-width: 90px;
    overflow: hidden;
  }
}
.top-sellets__btn {
  background-color: $green;
  width: 100%;
  color: #fff;
  border: none;
  padding: 15px;
  font-weight: 500;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.catalog__products {
  display: flex;
  max-width: 870px;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  .product__item {
    max-width: 270px;
    a.product__img {
      min-height: 180px;
    }
  }
}
.catalog__products-line {
  width: 100%;
  margin-bottom: 30px;
  min-height: 60px;
  background-color: #fff;
  padding-top: 15px;
  border: 1px solid #dcdcdc;
}
.catalog__products-selectbox {
  margin-left: 20px;
  .jq-selectbox__trigger-arrow {
    display: none;
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__select {
    background: transparent;
    box-shadow: none;
    border: none;
  }
  .jq-selectbox__select-text {
    position: relative;
    font-size: 14px;
    color: #707070;
    font-family: "Roboto", sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    &::before {
      content: "\f161";
      font-family: icomoon;
      position: absolute;
      left: 0px;
      font-size: 18px;
    }
    &::after {
      content: "\f0dc";
      font-family: "icomoon";
      position: absolute;
      right: 5px;
      font-size: 18px;
    }
  }
  .jq-selectbox li:hover,
  .jq-selectbox li.selected {
    background-color: $green;
  }
}
.catalog__products-lineinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__products-line {
  padding-right: 25px;
}
.catalog__products-btn {
  background-color: transparent;
  border: none;
  color: #90a4ae;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  & + .catalog__products-btn {
    margin-left: 10px;
  }
  &.catalog__products-btn--active {
    color: $green;
  }
}
.catalog__products {
  .product__item.product__item--line {
    width: 100%;
    max-width: 100%;
    a.product__img {
      min-height: 400px;
    }
  }
}
.pagination {
  padding-top: 45px;
  width: 100%;
  .pagination__list-item {
    &.active {
      a {
        color: #fff;
        background-color: #e74c3c;
      }
    }
    & + .pagination__list-item {
      margin-left: 7px;
    }
    display: inline-block;
    a {
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 15px;
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    }
  }
}
//product-one end
.product-one {
  padding-top: 35px;
  padding-bottom: 100px;
  background-color: #f4f6f5;
  .jq-selectbox__select {
    box-sizing: border-box;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
    padding-right: 25px;
    border: 1px solid #d3d3d3;
    border-bottom-color: #d3d3d3;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    color: #70838d;
    text-shadow: none;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .jq-selectbox__trigger {
    border-left: none;
    width: auto;
  }
  .jq-selectbox__trigger-arrow {
    display: none;
  }
  .jq-selectbox__trigger {
    &::after {
      content: "\f0d7";
      font-family: "icomoon";
      color: $green;
      position: absolute;
      right: 10px;
      line-height: 27px;
      font-size: 13px;
    }
  }
}
.product-one__images {
  max-width: 829px;
  width: 100%;
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-one__inner {
  display: flex;
}
.product-one__content {
  margin-right: 31px;
  max-width: 870px;
}
.product-one__images-inner {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.product-one__title {
  @include f500;
  font-size: 30px;
  color: $bg;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product-one__text {
  font-size: 14px;
  color: #707070;
  margin-bottom: 35px;
  margin-top: 20px;
}
.product-one__box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}

.product-one__link {
  a {
    color: #f4f6f5;
    padding: 16px 8px;
    width: 150px;
    & + a {
      margin-left: 20px;
    }
  }
}
.product-one__link-live {
  background-color: $red;
}
.product-one__link-screenshot {
  background-color: #455a64;
}
.product-one__link-documentation {
  background-color: $green;
}

.product-one__social {
  a {
    width: 54px;
    height: 50px;
    position: relative;
    &::before {
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & + a {
      margin-left: 3px;
    }
  }
}
.icon-facebook {
  background-color: #6370b6;
}
.icon-twitter {
  background-color: #64b5f6;
}
.icon-linkedin {
  background-color: #4f71ce;
}
.icon-pinterest-p {
  background-color: #d32f2f;
}
.product-one__more-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-one__more-title {
  font-size: 18px;
  @include f500;
  padding: 18px 25px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-bottom: 28px;
  color: $bg;
}

.productmini {
  margin-bottom: 27px;
  display: flex;
  height: 90px;
  align-items: center;
  max-width: 270px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(205, 214, 222, 0.75);
}

.productmini__images {
  width: 100px;
  height: 90px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productmini__name {
  @include f500;
  font-size: 14px;
  color: $bg;
  margin-bottom: 10px;
}
.productmini__theme {
  color: $green;
  font-size: 12px;
  margin-bottom: 10px;
}
.productmini__price {
  @include f700;
  font-size: 18px;
  color: $bg;
}
.product-one__tabs {
  margin-bottom: 55px;
}
.tabs {
  display: flex;
  text-align: center;
  border: 1px solid #d7d7d7;
  .tab {
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #70838d;
    padding: 20px 0;
    cursor: pointer;
    & + .tab {
      border-left: 1px solid #d7d7d7;
    }
  }
}
.tab_content {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 30px 30px 50px;
}
.tab-item {
  display: none;
  &.active-tab {
    display: block;
  }
}

.tab-items__list {
  font-size: 16px;
  line-height: 36px;
  color: #707070;
  column-count: 2;
  column-gap: 25px;
  li {
    max-width: 270px;
    width: 100%;
  }
}
.product-one__aside {
  max-width: 270px;
  width: 100%;
}

.price__box {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.price__product {
  font-size: 22px;
  @include f500;
  color: $red;
}
.product__price {
  button {
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    border: none;
    margin-bottom: 7px;
    background-color: $green;
    color: #fff;
    font-size: 16px;
    padding: 17px 5px 15px;
    background-color: $text;
    cursor: pointer;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700;
    &::before {
      font-weight: 400;
      font-family: "icomoon";
      padding-right: 8px;
    }
  }
  .icon-heart-o {
    background-color: $green;
  }
  .icon-shopping-cart {
    background-color: #42a5f5;
  }
}
.author__box {
  display: flex;
  padding: 25px 0;
}
.author__avatar {
  margin-right: 14px;
}
.author__name {
  font-size: 18px;
  color: $bg;
  margin-bottom: 9px;
  line-height: 1.5;
}
.author__link {
  color: #707070;
  font-size: 13px;
  border: 1px solid #d6d6d6;
  padding: 6px 9px 5px;
}
.author__awards-list {
  li {
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    & + li {
      margin-left: 4px;
    }
    &::before {
      font-size: 20px;
      color: #fff;
    }
  }
  .icon-meh-o {
    background-image: url("../images/awards-orange.png");
    width: 34px;
    height: 37px;
  }
  .icon-pagelines {
    background-image: url("../images/awards-red.png");
    width: 34px;
    height: 37px;
  }
  .icon-flash {
    background-image: url("../images/awards-blue.png");
    width: 34px;
    height: 37px;
  }
  .icon-foursquare {
    background-image: url("../images/awards-green.png");
    width: 34px;
    height: 37px;
  }
  .icon-yen {
    background-image: url("../images/awards-grey.png");
    width: 34px;
    height: 37px;
  }
}
.product-one {
  .top-sellers {
    margin-bottom: 30px;
  }
}

.aside__item-salesbox {
  @include f300;
  padding-top: 23px;
  font-size: 16px;
  color: #707070;
  .aside__item-sales {
    font-weight: 700;
    font-size: 20px;
    color: $bg;
    &::before {
      content: "\f07a";
      font-family: "icomoon";
      font-size: 20px;
      color: #a6b5bb;
      padding-right: 20px;
    }
  }
}
.information__line {
  font-size: 14px;
  color: $bg;

  margin-bottom: 20px;
  span {
    color: #70838d;
    @include f500;
  }
  & + .information__line {
    margin-top: 15px;
  }
}
//product-one start

//start 404
.page-404,
.about,
.contact {
  background-color: #f4f6f5;
  padding-top: 35px;
  padding-bottom: 150px;
}
.page-404__wrapper,
.contact__wrapper {
  border: 1px solid #dcdcdc;
}
.page-404__head,
.about__head,
.contact__head {
  background-color: #fff;
  font-size: 24px;
  color: #444;
  padding: 23px 27px;
  @include f500;
  border-bottom: 1px solid #dcdcdc;
}
.page-404__inner {
  text-align: center;
  background-color: $green;
  color: #fffefe;
  padding-bottom: 20px;
}
.page-404__404 {
  font-family: "Open Sans", sans-serif;
  padding-top: 90px;
  font-weight: 800;
  font-size: 300px;
  line-height: 300px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/page-404.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 300px;
  }
}
.page-404__title {
  @include f300;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 0.2em;
}
.page-404__text {
  font-size: 18px;
  max-width: 520px;
  margin: 0 auto;
  line-height: 1.5em;
  margin-bottom: 60px;
}
.page-404__link {
  border: 1px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px 16px;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 100px;
  @include f500;
}
//end 404
//start about
.about__inner {
  background-color: #fff;
  padding: 40px 50px;
  h3 {
    margin: 0;
    font-size: 20px;
    @include f700;
    color: #444;
  }
  p {
  }
}
.about__box + .about__box {
  margin-top: 40px;
}
//end about
//start contact
.contact__head {
  padding-left: 40px;
  padding-right: 40px;
}
.contact__inner {
  padding: 35px 40px 15px;
}
.contact__map {
  margin-bottom: 50px;
  iframe {
    width: 100%;
    height: 415px;
  }
}
.contact__box {
  display: flex;
}
.contact__info {
  max-width: 330px;
  width: 100%;
  margin-right: 30px;
}
.contact__info-item {
  margin-bottom: 30px;
}
.contact__info-title {
  color: $bg;
  position: relative;
  padding-bottom: 20px;
  font-size: 20px;
  padding-left: 40px;
  font-family: "Roboto", sans-serif !important;
  margin-bottom: 20px;
  &::after {
    content: "";
    display: inline-block;
    width: 44px;
    height: 3px;
    background-color: $green;
    position: absolute;
    bottom: 0;
    left: 40px;
  }
  &::before {
    font-family: "icomoon";
    color: $green;
    font-size: 24px;
    position: absolute;
    left: 0;
  }
}
.contact__info-content {
  padding-left: 40px;
  color: #707070;
  max-width: 230px;
}
.contact__form-title {
  font-size: 24px;
  @include f500;
  color: #333;
  margin-bottom: 16px;
}
.contact__form-row {
  display: flex;
  justify-content: space-between;
}
.contact__form {
  width: 100%;
  input {
    border: none;
    height: 53px;
    padding-left: 17px;
    padding-right: 17px;
    width: 350px;
    margin-bottom: 30px;
    display: block;
    background-color: #f1f4f5;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  textarea {
    border: none;
    outline: none;
    background-color: #f1f4f5;
    padding: 13px 17px;
    display: block;
    width: 100%;
    resize: none;
    height: 190px;
    margin-bottom: 23px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  button {
    border: none;
    background-color: $green;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    @include f700;
    padding: 20px 30px;
  }
}
.contact__wrapper {
  background-color: #fff;
}
//end contact

//start settings
.settings {
  padding-top: 35px;
  padding-bottom: 150px;
  background-color: #f4f6f5;

  .jq-selectbox__select {
    padding: 0 45px 0 10px;
    border: 1px solid #dedede;
    border-bottom-color: #dedede;
    border-radius: 0px;
    background: #f9f9f9;
    box-shadow: none;
    color: #707070;
    text-shadow: none;
    line-height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
  }
  .jq-selectbox {
    width: 100%;
  }
  .jq-selectbox__trigger {
    border-left: none;
    &::after {
      content: "\f0d7";
      font-family: "icomoon";
      color: #444444;
      right: 20px;
      position: absolute;
      top: 0;
      font-size: 15px;
    }
  }
  .jq-selectbox__trigger-arrow {
    border: none;
  }
}
.product-one__tabs.settings__tabs {
  display: flex;
  .tabs {
    max-width: 270px;
    margin-right: 30px;
    width: 100%;
    border: 1px solid #dedede;
    border-bottom: none;
    text-align: left;
    height: 100%;
    span {
      display: block;
      background-color: #fff;
      border-bottom: 1px solid #dedede;
      padding: 17px 17px 17px 50px;
      color: #707070;
      font-size: 14px;
      @include f500;
      &.active {
        border-bottom: 2px solid $green;
        color: #37474f;
        &::before {
          color: $green;
        }
      }
      &::before {
        color: #444;
        left: 24px;
        top: 50%;
        transform: translateY(-70%);
      }
    }
  }
  .tab_content {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .tabs {
    display: block;
    .tab + .tab {
      border-left: none;
    }
  }
}
.page-box {
  background-color: #fff;
  border: 1px solid #dedede;
  min-height: 100%;
}
.page-box__title {
  border-bottom: 1px solid #dedede;
  padding: 18px 34px;
  font-size: 24px;
  @include f500;
  color: $bg;
}
.page-box__content {
  padding: 30px 35px 80px;
}
.settings__line {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  label {
    max-width: 260px;
    width: 100%;
    color: #444;
  }
  input {
    max-width: 540px;
    width: 100%;
    height: 40px;
    color: #000;
    background-color: #f9f9f9;
    border: 1px solid #dedede;
  }

  .jq-selectbox.focused .jq-selectbox__select {
    height: 40px;
  }
  .jq-selectbox__select {
    height: 40px;
  }
}
//end settings
.profile-status {
  color: #707070;
  font-size: 13px;
  border: 1px solid #d6d6d6;
  padding: 6px 9px 5px 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
}
.profile {
  padding-top: 35px;
  background-color: #f4f6f5;
}
.profile__aside {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
}
.profile-on {
  &::before {
    background-color: $green;
  }
}
.profile-off {
  &::before {
    background-color: $red;
  }
}
.profile__aside-btn {
  margin-bottom: 13px;
}

.profile {
}

.profile__aside-message {
  display: block;
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  color: #fff;
  @include f500;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
  background-color: #546e7a;
  position: relative;
  padding: 18px 10px;
  &::before {
    content: "\f003";
    font-family: "icomoon";
    position: absolute;
    left: 50px;
    top: 17px;
  }
}
.profile__aside-following {
  display: block;
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  color: #fff;
  @include f500;
  background-color: $green;
  padding: 18px 10px;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}
.aside__filter-item {
  margin-bottom: 23px;
}

.profile__inner {
  display: flex;
  padding-bottom: 30px;
}
.profile__banner {
  padding: 20px;
  border: 1px solid #dedede;
  background-color: #fff;
  margin-bottom: 38px;
}
.profile__banner-images {
  min-height: 332px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile__content {
  width: 100%;
}
.profile__items {
  display: flex;
}
.profile__item {
  font-size: 14px;
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 20px 5px 17px;
  border: 1px solid #dedede;
  & + .profile__item {
    border-left: 1px solid #dedede;
  }
}
.profile__item-title {
  @include f500;
}
.profile__item-content {
  color: #707070;
  &.profile__item-sales {
    color: $bg;
    @include f500;
  }
}
.profile-settings {
}
.personal-box {
  background-color: #fff;
  padding: 35px 40px 20px;
  border: 1px solid #dedede;
}

.personal-box__title {
  margin-bottom: 25px;
  color: $bg;
  font-size: 20px;
  @include f700;
}
.personal-box__text {
  margin-bottom: 20px;
  p {
    margin-bottom: 20px;
    color: #707070;
  }
}
.personal-box__item-title {
  font-size: 20px;
  @include f700;
  color: $bg;
  margin-bottom: 20px;
}
.personal-box__item-head {
  display: flex;
  justify-content: space-between;
}
.personal-box__item-name {
  @include f500;
  font-size: 16px;
  color: $bg;
  font-style: italic;
}
.personal-box__item-num {
  @include f700;
  font-size: 16px;
  color: $bg;
}
.personal-box__item-line {
  height: 15px;
  background-color: #f4f4f4;
  border: 3px;
  margin-bottom: 23px;
  margin-top: 10px;
  border-radius: 3px;
  span {
    display: block;
    height: 15px;
    background-color: $green;
    border-radius: 3px;
    background-image: url("../images/bar.png");
    background-repeat: repeat;
    overflow-x: hidden;
  }
}
.product-one__tabs.settings__tabs {
  .tabs {
    .tab {
      font-family: "Roboto", sans-serif !important;
      position: relative;
      &::before {
        position: absolute;
        left: 24px;
        top: 25px;
        font-family: "icomoon";
        color: #d0d0d0;
        font-size: 14px;
      }
    }
  }
}

.breadcrumbs--another {
  padding-bottom: 35px;
}

// start upload

.upload__inner {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}
.upload__inner-title {
  padding: 16px 35px 18px;
  @include f500;
  font-size: 24px;
  color: $bg;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 40px;
}
.upload__inner-content {
  margin-bottom: 30px;
  padding-left: 45px;
  padding-right: 50px;
  button {
    border: none;
    background-color: $green;
    color: #fff;
    padding: 15px 36px;
    @include f500;
    margin-left: 175px;
    cursor: pointer;
  }
}
.upload-line {
  margin-bottom: 25px;
  display: flex;
  label {
    padding-top: 5px;
    min-width: 175px;
    padding-right: 15px;
    color: #444;
    &::placeholder {
      color: #707070;
    }
  }
  span {
    color: $green;
  }
  select,
  input,
  textarea,
  .jq-selectbox__select {
    display: block;
    width: 100%;
    border: 1px solid #d7d7d7;
    height: 40px;
    background-color: #f9f9f9;
    padding: 0 18px;
  }
  input[type="file"] {
    outline: none;
  }
  .jq-selectbox.jqselect {
    width: 100%;
    display: block;
  }
  textarea {
    height: 150px;
    resize: none;
    padding: 8px 18px;
  }
  .jq-file {
    width: 100%;
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__select {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border: 1px solid #d7d7d7;
    border-bottom-color: #d7d7d7;
    border-radius: 0px;
    background: #f9f9f9;
    box-shadow: none;
    color: #707070;
    font-family: "Roboto", sans-serif;
    text-shadow: none;
  }
  .jq-selectbox__trigger-arrow {
    border: none;
    &::before {
      content: "\f0d7";
      position: absolute;
      font-family: "icomoon";
      font-size: 15px;
      color: #444;
      top: -3px;
      line-height: 1;
      right: 8px;
    }
  }
  .jq-selectbox__dropdown {
    top: 32px !important;
  }
  .jq-file {
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #d7d7d7;
  }
  .jq-file__name {
    height: 40px;
    padding: 0;
    border: none;
    border-bottom-color: transparent;
    border-radius: 4px;
    background: transparent;
    box-shadow: none;
    color: #707070;
    font-size: 12px;
    line-height: 40px;
    margin-left: 112px;
  }
  .jq-file__browse {
    outline: none;
    cursor: pointer;
    top: 5px;
    font-size: 12px;
    color: #444;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    right: auto;
    left: 9px;
    border: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    text-shadow: none;
  }
}
.upload {
  padding-bottom: 130px;
}
// end upload
// start withdrawals
.withdrawals {
  padding-bottom: 110px;
}
.withdrawals__inner {
  display: flex;
  justify-content: space-between;
}
.withdrawals__col {
  max-width: 570px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  height: 100%;
}
.withdrawals__title {
  padding: 18px 32px 24px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 30px;
  color: $bg;
  @include f500;
  font-size: 24px;
}
.withdrawals__content {
  padding-left: 35px;
  padding-right: 40px;
  button {
    margin-bottom: 50px;
    border: none;
    background-color: $green;
    color: #fff;
    padding: 15px 36px;
    @include f500;
    cursor: pointer;
  }
}
.withdrawals__form-line {
  margin-bottom: 25px;
  label {
    display: block;
    width: 100%;
    @include f500;
    font-size: 16px;
    color: $bg;
    margin-bottom: 15px;
    span {
      color: $green;
    }
  }
  input {
    width: 100%;
  }
  select {
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__select {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    border: 1px solid #d7d7d7;
    border-bottom-color: #d7d7d7;
    border-radius: 0px;
    background: #f9f9f9;
    box-shadow: none;
    color: #707070;
    font-family: "Roboto", sans-serif;
    text-shadow: none;
  }
  .jq-selectbox__trigger-arrow {
    border: none;
    &::before {
      content: "\f0d7";
      position: absolute;
      font-family: "icomoon";
      font-size: 15px;
      color: #444;
      top: -3px;
      line-height: 1;
      right: 8px;
    }
  }
  .jq-selectbox__dropdown {
    top: 32px !important;
  }
  .jq-selectbox.jqselect {
    width: 100%;
    display: block;
  }
  input {
    display: block;
    width: 100%;
    border: 1px solid #d7d7d7;
    height: 40px;
    background-color: #f9f9f9;
    padding: 0 18px;
  }
}
.withdrawals__content-items {
  padding-bottom: 35px;
}
.withdrawals__content-item {
  display: flex;
  align-items: center;
  min-height: 42px;
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
}
.withdrawals {
  &__content-date {
    font-size: 13px;
    color: #444444;
    @include f500;
    width: 154px;
    padding-left: 20px;
  }

  &__content-email {
    width: 180px;
    font-size: 13px;
    color: #444;
    @include f500;
  }

  &__content-price {
    width: 70px;
    color: #444444;
    font-size: 13px;
    @include f700;
  }

  &__content-status {
    width: 88px;
    @include f500;
    font-size: 13px;
    &.paid {
      color: $green;
    }
    &.withdrawals__content-pending {
      color: #444;
    }
  }

  &__content-pending {
  }
}

// end withdrawals
